<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>
            {% block title %} PASO A PRODUCCIÓN JANO {% endblock %}
        </title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
        
        <link rel="stylesheet" href= {{asset('css/bootstrap-datetimepicker.min.css')}} />
        <script src="{{asset('js/moment.js')}}"></script>
        <script src="{{asset('js/bootstrap-datetimepicker.min.js')}}"></script>

    </head>
    <style>
        .cabecera {
               display: table-header-group;
               vertical-align: middle;
               align-items:  center;
               font-size: 18px;
               border-color: inherit;
               background-color: background;
               font-style: oblique;
               font-family: serif;
        }
    </style>
    
    <script>
        $( function() {
            $('.tabla').DataTable({
                "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "autoWidth": true,
                "jQueryUI": true,
                "stateSave": true,
                "order":[[1,"desc"]]
            });
            
        });
    </script>

    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{path("homepage")}}"> JANO </a>
                         <span class="navbar-brand">
                            {% block modo %}
                                {% if app.user != null%}
                                    {{app.user.modo.nombre}}
                                {% else %}
                                    {{ 'MODO'}} 
                                {% endif %}
                            {% endblock %}
                         <span>
                    </div>
                    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% block menu %}
                                {% if app.user != null%}
                                    <ul class="nav navbar-nav">
                                      {% if app.user.perfil == 'ROLE_ADMIN' %}
                                        <li class="dropdown">
                                            <a href="#" 
                                               class="dropdown-toggle" 
                                               data-toggle="dropdown" 
                                               role="button" 
                                               aria-haspopup="true" 
                                               aria-expanded="false">Administración<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{path("queryUsuario")}}">Gestión Usuarios</a></li>
                                                <li><a href="{{path("queryElemento")}}">Inventario de Elementos</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="{{path("queryParametro")}}">Parámetros</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="{{path("editModo", {"id":1})}}">Cambio Modo</a></li>
                                            </ul>
                                            
                                        </li>
                                {% endif %}
                                    <li class="dropdown">
                                            <a href="#" 
                                               class="dropdown-toggle" 
                                               data-toggle="dropdown" 
                                               role="button" 
                                               aria-haspopup="true" 
                                               aria-expanded="false">Pasos a Producción<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{path("insertPasoProd")}}">Alta</a></li>
                                                <li><a href="{{path("queryPasoProd")}}">Consulta</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                {% endif%}
                            {% endblock %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">
                                {% if app.user != null%}
                                    Bienvenido, {{app.user.nombre}} {{app.user.apellidos}} ({{app.user.perfil}})
                                {% endif%}
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" 
                                   class="dropdown-toggle" 
                                   data-toggle="dropdown" 
                                   role="button" 
                                   aria-haspopup="true" 
                                   aria-expanded="false"> 
                                   <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                {% if app.user == null%}
                                        <li><a href="{{path("login")}}">Entrar</a></li>
                                {% else %} 
                                        <li><a href="{{path("cambioPassword",{"id":app.user.id})}}">Cambio Password</a></li> 
                                        <li><a href="{{path("logout")}}">Salir</a></li>
                                {% endif%}
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
                        
        <section id="contenido">
                <div class="container"> <h3>
                {% block titulo %} {% endblock %}
                    </h3></div>
            {% block contenido %} Contenido por Defecto de la Plantilla  {% endblock %}
        </section>
        <footer>
            <span class="label label-info">Agencia para la Administración Digital de la Comunidad de Madrid &copy;</span>
        </footer>
    </body>
</html>
